<div style="margin: 30px;">
    <table class="table table-striped" style="width: 50%; margin: auto">
        <thead>
          <tr>
            <th scope="col" style="width: 25%">#</th>
            <th scope="col" style="width: 35%">Subject</th>
            <th scope="col" style="width: 25%"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Angular</td>
            <td><button (click)="enterExam('Angular')">Enter Exam</button></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Nodejs</td>
            <td><button (click)="enterExam('Nodejs')">Enter Exam</button></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Mongodb</td>
            <td><button (click)="enterExam('Mongodb')">Enter Exam</button></td>
          </tr>
        </tbody>
      </table>
</div>