<div style="margin: 10px;">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Subject</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Angular</td>
            <td><button (click)="enterExam('Angular')">Enter Exam</button></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Nodejs</td>
            <td><button (click)="enterExam('Nodejs')">Enter Exam</button></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Mongodb</td>
            <td><button (click)="enterExam('Mongodb')">Enter Exam</button></td>
          </tr>
        </tbody>
      </table>
</div>