<div style="margin: 30px;">
    <table class="table table-striped" style="width: 50%; margin: auto">
        <thead>
          <tr>
            <th scope="col" style="width: 25%">#</th>
            <th scope="col" style="width: 35%">Subject</th>
            <th scope="col" style="width: 25%"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>ANGULAR</td>
            <td><button (click)="enterExam('ANGULAR')">Enter Exam</button></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>NODEJS</td>
            <td><button (click)="enterExam('NODEJS')">Enter Exam</button></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>MONGODB</td>
            <td><button (click)="enterExam('MONGODB')">Enter Exam</button></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>REACTJS</td>
            <td><button (click)="enterExam('REACTJS')">Enter Exam</button></td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>PYTHON</td>
            <td><button (click)="enterExam('PYTHON')">Enter Exam</button></td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>AWS</td>
            <td><button (click)="enterExam('AWS')">Enter Exam</button></td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>AZURE</td>
            <td><button (click)="enterExam('AZURE')">Enter Exam</button></td>
          </tr>
        </tbody>
      </table>
</div>