<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Online Test</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/dashboard">Admin Dashboard</a>
          </li> -->
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/profile" *ngIf="loggedIn">Profile</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/login" *ngIf="!loggedIn">Login</a>
          </li> -->
          <li class="nav-item" *ngIf="!loggedIn">
            <a class="nav-link" routerLink="/signup">Signup</a>
          </li>
          <li class="nav-item" *ngIf="loggedIn">
            <!-- <a class="nav-link" href="javascript:void(0);">Logout</a> -->
            <a class="nav-link" (click)=goToLogin()>Logout</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>