<form (ngSubmit)="submitTest()">
    <div>
        <div>
            <div><h4>Angular Test</h4></div>
            <div>timer</div>
        </div>
        <div style="margin: 20px;">
            <ul class="list-group" *ngFor="let que of questionsList">
                <li class="list-group-item">{{que.id}}. {{que.question}}</li>
                <li class="list-group-item" *ngFor="let op of que.options">
                   <div>
                        <option>({{op.optid}}) {{op.opt}}</option>
                       
                   </div>
                </li>
                <li class="list-group-item"></li>
            </ul>
        </div>

       
    </div>
</form>