<form #onlinetestForm="ngForm">
    <div style="margin-bottom: 20x;margin-top: 20px;">
        
        <div style="margin: auto; width: 60%">
            <ul class="list-group" *ngFor="let que of questionsList; let queindex = index">
                <li class="list-group-item">{{que.id}}. <strong>{{que.question}}</strong></li>
                <li class="list-group-item" *ngFor="let option of que.options; let optionindex = index">
                    <!-- <select id="quesoptions">
                        <option value="op.optid">({{op.optid}}) {{op.opt}}</option>
                       
                    </select> -->
                    <div class="radio" style="margin-left: 10px;">  
                        <label> <!-- <label> [for]="queindex + optionindex">     -->
                            <!-- {{option.optid }} &nbsp;&nbsp; -->
                            <input type="radio" required
                                 name="{{que.id}}{{option.optid}}" 
                                 value="{{option.optid}}"
                                 disabled
                                 >
                            &nbsp;&nbsp;<em>{{option.opt}}</em>  
                        </label>  


                    </div>
                    <!-- <input type="radio" [value]="11">   {{op.opt}} -->
                </li>
                <li class="no-bullets">
                    <div style="height: 30px;">
                        <!-- <input type="text" name="test1" readonly value="{{que.answerKey}}-{{que.userRadioSelected}}">
                         <h5>{{que.answerKey}}, {{que.userRadioSelected}}</h5> -->
                    </div>
                </li>
            </ul>
        </div>


        <button style="float: right; margin-right: 20px;margin-bottom: 50px;" class="btn btn-primary" (click)="goToHome()">Home</button>
        <!-- <button style="float: right; margin-right: 20px;margin-bottom: 50px;" class="btn btn-primary" (click)="goBack()">Back</button> -->

    </div>
    <div style="margin-top: 20x;">
       
    </div>
</form>